*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: rgb(138, 138, 138);
    font-family: warden typeface regular ;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}